* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.headTitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .app-body .body {
    flex-direction: column;
  }

  .body_navbar .nav-item {
    display: none;
  }

  .body .right-body {
    width: 100%;
  }

  .body .left-body {
    width: 100%;

  }

  .side_bar {
    width: 100%;
   
  }

  .none {
    display: block;
  }


  .body .left-body .container .contact ul {
    margin-top: 2rem;
    padding: 0%;
  }

  .contactMe .contactbody {
    width: 100%;
    justify-content: center;
  }

  .contactMe .contactbody .left {
    display: none;
  }

  .tooltipText {
    margin: 0;
    font-weight: 300;
  }
  .image .img{
   width: 100%;
  }
}

@media screen and (max-width: 1270px) {
  .contactMe .contactbody {
    width: 100%;
    justify-content: center;
  }

  .contactMe .contactbody .left {
    display: none;
  }

}

.too a:hover .tooltipText {
  visibility: visible;
}

@media screen and (min-width:800px) {
  .none {
    display: none;
  }
}

.side_bar {
  position: fixed;
  right: 0;
  top: 2.5rem;
  height: 100vh;
  /* border: 1px solid white; */
  width: 400px;
  backdrop-filter: blur(10px);
  display: none;
  transition: all 1s;

}

.side_bar ul {
  display: flex;
  flex-direction: column;
}

.tooltipText {
  visibility: hidden;
  border-radius: 10px;
  margin-left: 5px;
  padding: 5px;
  background-color: white;
  color: black;
  font-weight: 600;
}

.app-body {
  background-color: black;
  width: 100%;
}

.body {
  width: 100%;
  display: flex;
  color: white;
}

.left-body {
  width: 30%;
  padding-top: 4rem;

}

.left-body .container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 20px;
  /* border: 1px solid white; */
}

.image .img {
  height: 24rem;
  border-radius: 50%;
  border-bottom: 7px solid;
  border-bottom-color: rgb(245, 241, 241);
  transition: all 500ms;
  cursor: pointer;
  z-index: 100;
}

.image:hover .img {
  transform: rotateY(180deg);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;

}

.image {
  width: 64%;
  transition: all 400ms;
  text-align: center;
  position: relative;
  border-radius: 50%;
}

.image .hidden {
  position: relative;
  top: 10rem;
  display: none;
}

.image:hover .hidden {
  display: block;
}

.hidden .hiddenImage {
  height: 9rem;
  width: 6rem;
  /* border: 1px solid white; */
  border-radius: 50%;
}

.image:hover {
  border-radius: 50%;
  height: 24rem;
  border: 1px solid white;
  box-shadow: 0px 0px 10px white;
}

.contact ul {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.right-body {
  width: 70%;
  margin-top: 3rem;
}

.right-body .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.right-body .container .header {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  font-size: 1.6rem;
  padding: 2rem;
  color: white;
  text-transform: uppercase;
}

.right-body .container .about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  position: relative;
  perspective: 1000px;
  /* border: 1px solid white; */
}

.right-body .container .about .content {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #588579;
  text-indent: 40px;
  
  
}

.t_over {
  height: 33.333%;
  width: 33.333%;
  position: absolute;
  z-index: 10;

}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}

.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}

.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}

.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}

.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}

.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}

.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}

.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}

.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}


.t_over:nth-child(1):hover ~ .content {
  transform: rotateX(-20deg) rotateY(20deg);;
  text-shadow: 2px 5px 4px rgb(128, 128, 128);
}
.t_over:nth-child(2):hover ~ .content {
  transform: rotateX(-20deg) rotateY(0deg);
  text-shadow: 2px 5px 4px rgb(128, 128, 128);
}
.t_over:nth-child(3):hover ~ .content {
  transform: rotateX(-20deg) rotateY(-20deg);
  text-shadow: 2px 5px 4px rgb(128, 128, 128);
}
.t_over:nth-child(4):hover ~ .content {
  transform: rotateX(0deg) rotateY(20deg);
  text-shadow: 2px 5px 4px rgb(128, 128, 128);
}
.t_over:nth-child(5):hover ~ .content {
  transform: rotateX(0deg) rotateY(0deg);
  text-shadow: 2px 5px 4px rgb(128, 128, 128);
}
.t_over:nth-child(6):hover ~ .content {
  transform: rotateX(0deg) rotateY(-20deg);
  text-shadow: 2px 5px 4px rgb(128, 128, 128);
}
.t_over:nth-child(7):hover ~ .content {
  transform: rotateX(18deg) rotateY(20deg);
  text-shadow: 4px 5px 4px rgb(128, 128, 128);
}

.t_over:nth-child(8):hover ~ .content {
  transform: rotateX(18deg);
  text-shadow: 2px 8px 4px rgb(128, 128, 128);
}

.t_over:nth-child(9):hover ~ .content {
  transform: rotateX(18deg) rotateY(-20deg);
  text-shadow: 2px 7px 4px rgb(128, 128, 128);
}



.right-body .container .Skills {
  margin: 3rem;
  padding: 10px;
  width: 80%;
}

.right-body .container .Skills .skillCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.container .projects {
  margin: 2rem 0 2rem 0;
  width: 70%;
}

.projects .projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  /* padding: 15px; */
}

.projects .projectCards .card {
  height: 10rem;
  width: 12rem;
  padding: 10px;
  border: 1px solid white;
 background-color: black;
  cursor: pointer;
  transition: all 300ms;
  overflow: hidden;
}

.projects .projectCards .card:hover {
  transform: scale(1.1);
  width: 15rem;
  height: max-content;
  margin: 1rem;
  filter: none;
}

.projectCards .card .projectContent {
  text-align: center;

}

.projectTitle {
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
}

.card .projectContent .projectImage img {
  filter: brightness(110%);
  height: 7rem;
  width: 9rem;
}

.projectCards .card:hover .projectImage img {
  width: 7rem;
  height: 7rem;
}

.card .projectContent .projectDesciption {
  color: white;
  padding: 5px;
}

.projects .projectCards:hover .card:not(:hover) {
  filter: blur(5px);
}

.projectCards .card .projectContent .projectLink {
  margin: 10px;
}

.projectCards .card .projectContent .projectLink a {
  text-decoration: none;
  color: white;
  padding: 7px;
  border: 1px solid white;
  border-radius: 10px;
}

.projectLink a:hover {
  box-shadow: 0px 0px 5px white;
}

.right-body .container .Skills .skillCard {
  border: 1.5px solid white;
  border-radius: 15px;
  height: 10rem;
  width: 9rem;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
 
}

.skillCard:hover {

  animation: card 1s ease-in 0s infinite;
}

@keyframes card {

  100%,
  0% {
    border-top-color: rgb(64, 85, 178);
  }

  25% {
    border-right-color: rgb(185, 16, 223);
  }

  50% {
    border-bottom-color: rgb(71, 12, 126);
  }

  75% {
    border-left-color: rgb(20, 108, 224);
  }
}

@keyframes side_bar {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes close {
  100% {
    transform: translate(500px);

  }
}

.skillCard img {
  height: 5rem;
  width: 4.5rem;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid white;
}

tbody tr:hover {
  transform: translate(5px);
  cursor: pointer;
  transition: all 200ms;
  /* text-shadow: 1px 1px 1px; */
  /* background-color: rgb(45, 44, 44, 0.6); */
}

.certifications {
  width: 80%;
}

.certifications table {
  width: 100%;
}

.certifications table thead th {
  font-size: 1.5rem;
}

.certifications table thead tr {
  margin: 8px;
  border-bottom: 1px solid white;
}

.certifications table tbody tr td {
  padding: 8px;
}

.certifications table tbody tr td a {
  color: white;
  display: inline;
}

.certifications table tbody tr {
  margin-top: 8px;
  border-bottom: 1px dotted white;
}

.right-body .container .content {
  padding-top: 5px;
  font-weight: 500;
  font-size: 1.3rem;
}

.body_navbar {
  background-color: black;
  z-index: 100;
  font-size: 1.5rem;
  color: white;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  /* border: 1px solid white; */
}

.body_navbar ul {
  display: flex;
}

.body_navbar ul li {
  list-style: none;
  padding-top: 5px;
  margin-right: 25px;
  transition: all 1s;
}

.body_navbar ul li a {
  text-decoration: none;
  color: white;
}

.body_navbar ul li:hover {
  border-bottom: 1px solid white;
  animation: card 1s ease-in 0s infinite alternate;

  cursor: pointer;
}

.navbar-brand {
  padding: 7px;
  cursor: po;
}

.contact ul li a img {
  filter: grayscale(5);
  border-radius: 60%;
  transition: all 300ms;
}

.contact ul li a img:hover {
  filter: contrast(1);
  transform: translateY(-5px);
}

.contactMe {
  width: 80%;
  border: 1px solid white;
  border-radius: 20px;
  margin: 2rem 0 2rem 0;
}

.contactMe .contactbody {
  display: flex;
}

.contactMe .contactbody .left {
  width: 40%;
  height: 50vh;
}

.contactMe .contactbody .left img {
  height: 20rem;
  width: 20rem;
}

.contactMe .contactbody .right {
  width: 60%;
  display: flex;
  justify-content: center;
  /* border: 1px solid white; */
}

.contactMe .contactbody .right form {
  width: 90%;
}